@inherits LayoutComponentBase
<PageTitle>PHBet5</PageTitle>

<div style="background-color: #4e4f4e; color: #b39e66">
    <div>
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
